<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="cn.asstea.share">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name="cn.asstea.share.activity.ShareActivity"
            android:theme="@style/share_dialog_sheet_style" />

        <!-- QQ分享 -->
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait">

            <intent-filter>

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent${QQ_SCHEME}" />

            </intent-filter>

        </activity>

        <!--&lt;!&ndash; 微博分享 &ndash;&gt;-->
        <!--<activity-->
            <!--android:name="cn.asstea.share.activity.WeiboShareActivity"-->
            <!--android:configChanges="orientation|screenSize|keyboardHidden"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/share_translucent_full_screen_theme"/>-->

    </application>

</manifest>
